.main{
    margin: 8px;
    background-color: #222222;
}
.main-confirmedCountry{
    height: 520px;
}
.main-infected{
    height: 450px;
}
.title{
    color: #bdbdbd;
    text-align: center;
}
.total-count{
    color: red;
    text-align: center;
    font-size: 28px;
}
.country-total{
    color: red;
}
.country-name{
    color: white;
}
.country-detail{
    padding-left: 12px;
}
.country-list{
    height: 440px;
    overflow-y: scroll;
}
