.danger{
    color: red;
}
.success{
    color: #70a800;
}
.normal{
    color: white;
}
.list-item{
    padding-left: 12px;
}
.infected-list{
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.graph-canvas{
    height: 200px;
}
